@import "tailwindcss";

@font-face {
  font-family: "Google Sans Flex";
  src: url('./fonts/GoogleSansFlex_9pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Flex";
  src: url('./fonts/GoogleSansFlex_9pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Flex";
  src: url('./fonts/GoogleSansFlex_9pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Flex";
  src: url('./fonts/GoogleSansFlex_9pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
